
@media (max-width: 1080px) {
    .wrapper {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 0;
        height: 90%;
        width: 100%;
    }
    
    .header__case .menu {
        margin-right: 10px;
    }
    .header__case {
        margin-inline: 10px;
    }
    .container {
        display: flex;
        /* flex-direction:inherit; */
        justify-content: end;
    }
}




@media (max-width: 500px) {
    .header__container .header__case .menu .list {
        font-size: 3vw;
    }
    .main__case .image{
        display: none;
    }
    .main__case .article .text {
        max-width: 100%;
    }
    .header__case .menu .list {
        display: none;
    }
    .header__case .menu .button {
        display: block;
    }
    .header__case .menu .button {}
    .header__case .menu {
        margin-right: 0px;
    }
    .header__container {
        display: flex;
        justify-content: end;
    }
    .header {
        transition: .5s all;
    }
    .wrapper {
        height: 95%;
    }
}

@media (max-width: 410px) {
    .main__case .article .title {
        font-size: 8vw;
    }
    .header__case {
        justify-content: center;
    }
}